@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}

body.scroll-lock {
    overflow-y: hidden;
}



  ::-webkit-scrollbar {
    background-color: rgb(7, 19, 37);
    width: 4px; 
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3a5767; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
